In [1]:
import pandas as pd
import numpy as np
from pathlib import Path

In [3]:
root = '/home/heye0507/sz_audio'
audio_data = root + '/audio_data'
data = root + '/data'

In [4]:
df_train = pd.read_csv(data+'/train.csv')
df_valid = pd.read_csv(data+'/valid_test.csv')

In [5]:
df_train.head()

,filename,orig_filename,id,name,eng_name,gender,cul,hometown,age,height,weight,temp,bpm,tsh,t4,t3
0,train_0043.wav,524215/Ausculation_Report_Eko_Recording_140111...,524215,叶思思,"Ye, Sisi",1=男,1=汉族,温州,35,164.0,64.0,36.5,80.0,1.12,8.32,4.6
1,train_0209.wav,524215/Ausculation_Report_Eko_Recording_140114...,524215,叶思思,"Ye, Sisi",1=男,1=汉族,温州,35,164.0,64.0,36.5,80.0,1.12,8.32,4.6
2,train_0200.wav,524215/Ausculation_Report_Eko_Recording_140112...,524215,叶思思,"Ye, Sisi",1=男,1=汉族,温州,35,164.0,64.0,36.5,80.0,1.12,8.32,4.6
3,train_0201.wav,524215/Ausculation_Report_Eko_Recording_140113...,524215,叶思思,"Ye, Sisi",1=男,1=汉族,温州,35,164.0,64.0,36.5,80.0,1.12,8.32,4.6
4,train_0159.wav,615897/Ausculation_Report_Eko_Recording_141773...,615897,叶晓霞,"Ye,Xiaoxia",2=女,1=汉族,永嘉,69,156.0,50.0,36.9,60.0,2.53,12.34,4.2

In [24]:
df_train['tsh_label'] = df_train['tsh'].apply(lambda o: 1 if o < 0.27 else 0)

In [25]:
df_train['tsh_label'].value_counts() # less than 0.27 confirm

0    356
1     38
Name: tsh_label, dtype: int64

In [26]:
df_train['t3_label'] = df_train['t3'].apply(lambda o: 0 if o < 6.8 else 1) # greater than 6.8 confirm
df_train['t4_label'] = df_train['t4'].apply(lambda o: 0 if o < 18 else 1) # greater than 18 confirm

In [27]:
df_train['t3_label'].value_counts()

0    361
1     33
Name: t3_label, dtype: int64

In [28]:
df_train['t4_label'].value_counts()

0    374
1     20
Name: t4_label, dtype: int64

In [29]:
df_valid = df_valid[df_valid['valid']==True]

In [30]:
df_valid['tsh_label'] = df_valid['tsh'].apply(lambda o: 1 if o < 0.27 else 0)
df_valid['t3_label'] = df_valid['t3'].apply(lambda o: 0 if o < 6.8 else 1)
df_valid['t4_label'] = df_valid['t4'].apply(lambda o: 0 if o < 18 else 1)

In [31]:
df_train.to_csv(data+'/new_train.csv',index=False)
df_valid.to_csv(data+'/new_valid.csv',index=False)

In [32]:
df_valid['tsh_label'].value_counts()

0    145
1      4
Name: tsh_label, dtype: int64

In [33]:
df_valid['t3_label'].value_counts()

0    126
1     23
Name: t3_label, dtype: int64

In [34]:
df_valid['t4_label'].value_counts()

0    141
1      8
Name: t4_label, dtype: int64

In [21]:
264 / (264+130)

0.6700507614213198

In [22]:
83 / (83+66)

0.5570469798657718

In [23]:
386 / (386+6)

0.9846938775510204

In [24]:
127 / (127+22)

0.8523489932885906

# 0.27, 6.8, 22